//--------------------------------------------------------------
// Activity Listing
//--------------------------------------------------------------

#activity-stream {
	margin-top: rem(-5);

	p {
		margin: rem(5) 0;
	}
}

ul.activity-list li {
	overflow: hidden;
	padding: rem(15) 0 0;
	list-style: none;
}

.activity-list .activity-avatar {
	float: left;
}

ul.item-list.activity-list li.has-comments {
	padding-bottom: rem(15);
}

body.activity-permalink ul.activity-list li.has-comments {
	padding-bottom: 0;
}

.activity-list li.mini {
	font-size: 80%;
	position: relative;
}

.activity-list li.mini .activity-avatar img.avatar,
.activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: rem(20);
	margin-left: rem(30);
	width: rem(20);
}

.activity-permalink .activity-list li.mini .activity-avatar img.avatar,
.activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}

body.activity-permalink .activity-list > li:first-child {
	padding-top: 0;
}

.activity-list li .activity-content {
	position: relative;
}

.activity-list li.mini .activity-content p {
	margin: 0;
}

.activity-list li.mini .activity-comments {
	clear: both;
	font-size: 120%;
}

body.activity-permalink li.mini .activity-meta {
	margin-top: rem(4);
}

.activity-list li .activity-inreplyto {
	color: $color-jumbo;
	font-size: 80%;
}

.activity-list li .activity-inreplyto > p {
	margin: 0;
	display: inline;
}

.activity-list li .activity-inreplyto blockquote,
.activity-list li .activity-inreplyto div.activity-inner {
	@include margin-padding-reset;

	background: none;
	border: none;
	display: inline;
	overflow: hidden;
}

.activity-list .activity-content {
	margin: 0 0 0 rem(70);
}

body.activity-permalink .activity-list li .activity-content {
	border: none;
	font-size: 100%;
	line-height: 150%;
	margin-left: rem(170);
	margin-right: 0;
	padding: 0;
}

body.activity-permalink .activity-list li .activity-header > p {
	margin: 0;
	padding: rem(5) 0 0 0;
}

.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header {
	color: $color-jumbo;
	line-height: 220%;
}

.activity-header {
	margin-right: rem(20);
}

.activity-header a,
.comment-meta a,
.acomment-meta a {
	text-decoration: none;
}

.activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	margin: 0 rem(5) rem(-8) 0 !important;
}

a.bp-secondary-action,
span.highlight {
	font-size: 80%;
	padding: 0;
	margin-right: rem(5);
	text-decoration: none;
}

.activity-list .activity-content .activity-inner,
.activity-list .activity-content blockquote {
	margin: rem(10) rem(10) rem(5) 0;
	overflow: hidden;
}

.activity-list li.new_forum_post .activity-content .activity-inner,
.activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid $color-lily-white;
	margin-left: rem(5);
	padding-left: rem(10);
}

body.activity-permalink .activity-content .activity-inner,
body.activity-permalink .activity-content blockquote {
	margin-left: 0;
	margin-top: rem(5);
}

.activity-inner > p {
	word-wrap: break-word;
}

.activity-inner > .activity-inner {
	margin: 0;
}

.activity-inner > blockquote {
	margin: 0;
}

.activity-list .activity-content img.thumbnail {
	border: 2px solid $color-silver-felt;
	float: left;
	margin: 0 rem(10) rem(5) 0;
}

.activity-read-more {
	margin-left: rem(16);
	white-space: nowrap;
}

.activity-list li.load-more,
.activity-list li.load-newest {
	background: $color-alabaster;
	font-size: 110%;
	margin: rem(15) 0;
	padding: rem(10) rem(15);
	text-align: center;
}

.activity-list li.load-more a,
.activity-list li.load-newest a {
	color: $color-ship-gray;
}