//--------------------------------------------------------------
// Directories - Members, Groups, Blogs, Forums
//--------------------------------------------------------------

.dir-search input[type=text],
li.groups-members-search input[type=text] {
	font-size: 90%;
	padding: rem(1) rem(3);
}

.current-member-type {
	font-style: italic;
}

.dir-form {
	clear: both;
}