//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

#cover-image-container {
	position: relative;
	z-index: 0
}

#header-cover-image {
	@include position(absolute, 0 0 null null);
	@include size(100% rem(225));

	background-color: #c5c5c5;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	z-index: 1
}

#item-header-cover-image {
	padding: 0 1em;
	position: relative;
	z-index: 2;

	#item-header-avatar {
		margin-top: 145px;
		float: left;
		overflow: visible;
		text-align: center;
		width: 100%;

		@include wider-than(tablet-portrait) {
			text-align: left;
			width: auto;
		}

		a {
			border: none;
			display: inline-block;
			text-decoration: none;
		}

		img.avatar {
			background: rgba( 255, 255, 255, 0.8 );
			border: solid 2px #FFF;
		}
	}

	#item-header-content {
		margin-top: 0;
		max-width: 100%;
		text-align: center;
		width: 100%;

		@include wider-than(tablet-portrait) {
			margin-top: rem(225);
			max-width: 50%;
			text-align: left;
			width: auto;
		}

		h2 {
			color: $color-black;

			@include wider-than(tablet-portrait) {
				color: $color-white;
				margin-bottom: rem(20);
			}
		}

		#item-buttons {
			@include clearfix;

			margin-bottom: rem(10);

			.generic-button {
				display: inline-block;
				float: none;

				@include wider-than(tablet-portrait) {
					float: left;
				}
			}
		}
	}

	#item-actions {
		margin-top: 0;
		max-width: 100%;
		padding-top: rem(20);
		width: 100%;

		@include wider-than(tablet-portrait) {
			margin-top: rem(225);
			max-width: 20%;
		}
	}
}

// Profile pages
&.bp-user {

	#item-header-cover-image {

		#item-header-content {

			@include wider-than(tablet-portrait) {
				margin-top: rem(190);
			}
		}
	}
}