//-------------------------------------------------------------------------
// Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
//-------------------------------------------------------------------------

.item-body {
	margin: rem(20) 0;
}

.activity {
	display: inline-block;
	font-size: small;
	opacity: 0.8;
	padding: 0;
}

.user-nicename {
	color: $color-monsoon;
	display: inline-block;
	font-size: 120%;
	font-weight: 700;
}

#message p,
#sitewide-notice p {
	background-color: $color-pink-lace;
	border: 1px solid ;
	color: $color-loulou;
	font-weight: normal;
	margin-top: rem(3);
	text-decoration: none;
}

ul.single-line li {
	border: none;
}

body.activity-permalink ul.item-list,
body.activity-permalink ul.item-list li.activity-item {
	border: none;
}

ul.item-list {
	@include list-reset;

	border-top: 1px solid $color-lily-white;
	width: 100%;

	li {
		border-bottom: 1px solid $color-lily-white;
		list-style: none;
		margin: 0;
		padding: rem(15) 0;
		position: relative;

		img.avatar {
			float: left;
			margin: 0 rem(10) 0 0;
		}

		.item-title,
		h4 {
			font-size: 90%;
			font-weight: normal;
			margin: 0;
			width: 75%;
		}

		.item-title span {
			color: $color-aluminum;
			font-size: 80%;
		}

		.item-desc {
			color: $color-jumbo;
			font-size: 80%;
			margin: rem(10) 0 0 rem(60);
			width: 50%;
		}

		&.group-no-avatar .item-desc {
			margin-left: 0;
		}

		.action {
			position: absolute;
			right: 0;
			text-align: right;
			top: rem(15);
		}

		.meta {
			color: $color-jumbo;
			font-size: 80%;
			margin-top: rem(10);
		}

		h5 span.small {
			float: right;
			font-size: 80%;
			font-weight: normal;
		}
	}
}

#item-nav ul li.loading a {
	background-position: 88% 50%;
}

.item-list-tabs#object-nav {
	margin-top: 0;
}

.item-list-tabs#subnav {
	background: transparent;
	margin: rem(10) 0 rem(10);
	overflow: hidden;
}

#admins-list li,
#mods-list li,
#members-list li {
	list-style: none;
	overflow: auto;
}