//--------------------------------------------------------------
// Media Queries
//--------------------------------------------------------------

// Smartphones - portrait
@media only screen and ( max-width: rem(320) ) {

	#buddypress ul.item-list li div.meta {
		margin-top: 0;
	}
	#buddypress .item-desc p {
		margin: 0 0 rem(10);
	}
	#buddypress div.pagination .pag-count {
		margin-left: 0;
	}
}

// Smartphones - smaller screen sizes
@media only screen and ( max-width: rem(240) ) {
	#buddypress ul.item-list li img.avatar {
		@include size(rem(30) auto);
	}
	h1 a.bp-title-button {
		clear: left;
		float: left;
		margin: rem(10) 0 rem(20);
	}
}
