//--------------------------------------------------------------
// Private Messaging Threads
//--------------------------------------------------------------

#message-threads {

	// Unread messages
	.unread {

		td {
			background: $color-citrine-white;
			border-top: 1px solid $color-girvy;
			border-bottom: 1px solid $color-girvy;
			font-weight: 700;

			.thread-excerpt,
			.activity,
			&.thread-options {
				font-weight: normal;
			}
		}

		.unread-count {
			background: #dd0000;
			color: $color-white;
			font-weight: 700;
			padding: rem(2) rem(8);
		}
	}
}

// Member - Single private message
#message-thread {

	strong {
		font-size: 100%;
		margin: 0;

		a {
			text-decoration: none;
		}

		.activity {
			margin-top: rem(4);
		}
	}

	.message-box {
		margin: 0;
		padding: rem(15);
	}

	// Reply or alt response message
	.alt {
		background: $color-white-smoke;
	}

	#message-recipients {
		margin: rem(10) 0 rem(20) 0;
	}

	// Avatar
	.avatar {
		float: left;
		margin: 0 rem(10) 0 0;
		max-width: none;
		vertical-align: middle;
	}

	.message-metadata {
		overflow: hidden;
	}

	.message-content {
		margin-left: rem(45);
	}

	.message-options {
		text-align: right;
	}
}

// Message search - shows on profile/inbox
.message-search {
	float: right;
	margin: 0 rem(20);
}

// Stopped Here

.message-metadata {
	position: relative;
}

.message-star-actions {
	position: absolute;
	right: 0;
	top: 0;
}

a.message-action-star,
a.message-action-unstar {
	border-bottom: 0;
	text-decoration: none;
	outline: none;
}

a.message-action-star {
	opacity: .7;
}

a.message-action-star:hover {
	opacity: 1;
}

.message-action-star span.icon:before,
.message-action-unstar span.icon:before {
	font-family: dashicons;
	font-size: rem(18);
}

.message-action-star span.icon:before {
	color: $color-light-gray;
	content: "\f154";
}

.message-action-unstar span.icon:before {
	color: $color-cherokee;
	content: "\f155";
}