//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
ul.button-nav li a,
div.generic-button a,
.comment-reply-link,
a.bp-title-button {
	background: $color-white; // old browsers
	border: 1px solid $color-iron;
	color: $color-monsoon;
	cursor: pointer;
	font-size: small;
	outline: none;
	padding: rem(4) rem(10);
	text-align: center;
	text-decoration: none;
}

button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
ul.button-nav li a:hover,
ul.button-nav li.current a,
div.generic-button a:hover,
.comment-reply-link:hover {
	background: $color-warped-lace;
	border: 1px solid $color-silver-sand;
	color: $color-dark-gray;
	outline: none;
	text-decoration: none;
}