//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------

$color-white: #ffffff;
$color-black: #000000;

// Gray
$color-alabaster: #fafafa;
$color-aluminum: #999999;
$color-dark-gray: #555555;
$color-desert-storm: #f8f8f8;
$color-gainsboro: #dddddd;
$color-iron: #cccccc;
$color-jumbo: #888888;
$color-light-gray: #aaaaaa;
$color-lily-white: #eaeaea;
$color-monsoon: #777777;
$color-ship-gray: #4d4d4d;
$color-ship-gray: #4d4d4d;
$color-silver-felt: #eeeeee;
$color-silver-sand: #bbbbbb;
$color-warped-lace: #ededed;
$color-white-smoke: #f5f5f5;
$color-concrete: #f4f4f4;

// Red
$color-cinnabar: #f04040;
$color-pink-lace: #ffdffd;
$color-red-berry: #a00a00;
$color-red-oxide: #800800;
$color-sea-pink: #ffa0a0;
$color-sundown: #faafaa;
$color-bu-red: #cd0000;

// Purple
$color-pale-lavendar: #efcefc;
$color-byzantine: #cb2cb2;
$color-purple: #591591;
$color-cherry-pie: #250250;
$color-loulou: #440440;
$color-hot-magenta: #fc0fc0;

// Yellow
$color-cherokee: #f6d17e;
$color-peach-yellow: #ffe0af;
$color-tacao: #ffb78c;
$color-yellow: #ffec8b;
$color-citrine-white: #ffe8c4;
$color-girvy: #fae9c0;
$color-portica: #f5df68;

// Orange
$color-cadmium-orange: #ff853c;

// Green
$color-spring-bud: #8dff1c;
$color-sulu: #c3ff88;

// Blue
$color-sail: #a1dcfa;